button.btn-dark {
  margin: 0px 0px 20px 0px;
  background-color: #aeb3ae;
  border: none;
  border-width: 0;
  border: 0;
}
button.btn-dark:hover {
  background-color: #8f928f;
}
tbody > tr > td {
  text-align: center;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 260px; /* establece el margen superior para evitar que el contenido principal se oculte detrás del encabezado */
  margin-bottom: 80px; /* establece el margen inferior para evitar que el contenido principal se oculte detrás del pie de página */
  height: calc(100% - 260px);
  transition: 0.5s;
}
main > div {
  width: 90%;
}

/**
 * ######################
 * ## Max Width: 700px ##
 * ######################
*/
@media (min-width: 700px) {
  main > div {
    width: 80%;
  }
}
