header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.titleUser {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

div.userLogeado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

p.msgLogueado {
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.titleApp {
  display: inline-block;
  padding: 0.5rem 1rem;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

.signOff {
  display: inline-block;
  padding: 0.5rem 1rem;
  color: rgb(9, 9, 9);
  border: none;
  border-radius: 0.25rem;

  font-size: 1rem;
  cursor: pointer;
}

.signOff:hover {
  background-color: #dae2c2;
}
