header {
  display: flex;
  flex-direction: column;
}
div.titleUser {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

p.msgLogueado {
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
