.divRegister {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.divRegister > form {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.divRegister > form > input {
  margin-bottom: 1rem;
  padding: 0.3rem;
}

.btn-register {
  background-color: #aeb3ae;
}

.btn-register:hover {
  background-color: #8f928f;
}
