.divLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.divLogin > form {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.divLogin > form > input {
  margin-bottom: 1rem;
  padding: 0.3rem;
}
