body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin: 0;
}
article.light {
  --positive: #000;
  --negative: #fff;
}
article.dark {
  --positive: #fff;
  --negative: #000;
}
header {
  top: 0;
  width: 100%;
  height: 10rem;
  background-color: rgb(125, 185, 182);
  color: #fff;
  padding: 1rem;
  position: fixed;
}
header button {
  background-color: transparent;
  border: none;
  font-size: 2rem;
}

article {
  background-color: var(--negative);
  color: var(--positive);
  padding: 1rem;
}

/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: calc(2.5rem);
  margin-top: calc(10rem);
}

/* Estilos para pantallas más pequeñas */
@media (max-width: 768px) {
  header {
    height: 12rem;
  }

  main {
    margin-top: calc(12rem);
  }
}
